minishell
.unity_obj/
.gitignore
runtest
.cache
.build
compile_commands.json
.DS_Store
minishell_tester
.zzsh_history
build_lib.sh
*.a
src/main/main2.c
.gdb_history
.vscode/
.zzsh_historyzz
*.log
*.sh
